@media only screen and (max-width: 1026px) {
  .showlarge {
    display: none;
  }

  .roundedBorder {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 85vw !important;
    height: 65vh !important;

  }

  .mobileTop {
    margin-top: 3.5rem !important;

  }
}
